{
  "net_name": "ANMM",
  "global":{
      "model_type": "PY",
      "weights_file": "weights/anmm_classify.weights",
      "save_weights_iters": 5,
      "num_iters": 100,
      "display_interval": 5000,
      "test_weights_iters":5 ,
      "optimizer": "adam",
      "learning_rate": 0.0001
  },
  "inputs": {
    "share": {
        "text1_corpus": "corpus_preprocessed.txt",
        "text2_corpus": "corpus_preprocessed.txt",
        "embed_path":"embed_glove_d300_norm",
        "use_dpool": false,
        "embed_size": 300,
        "vocab_size": 28162,
        "train_embed": false,
        "class_num":2,
        "target_mode": "classification",
        "bin_num": 100,
        "text1_maxlen": 12,
        "text2_maxlen": 100
    },
    "train": {
        "input_type": "DRMM_PointGenerator",
        "phase": "TRAIN",
        "use_iter": false,
        "query_per_iter": 20000,
        "batch_per_iter": 5000,
        "batch_size": 20,
        "relation_file": "relation_train.txt",
        "hist_feats_file": "relation_train.binsum-100.txt"
    },
    "valid": {
        "input_type": "DRMM_PointGenerator",
        "phase": "EVAL",
        "batch_size": 10,
        "relation_file": "relation_valid.txt",
        "hist_feats_file": "relation_valid.binsum-100.txt"
    },
    "test": {
        "input_type": "DRMM_PointGenerator",
        "phase": "EVAL",
        "batch_size": 10,
        "relation_file": "relation_test.txt",
        "hist_feats_file": "relation_test.binsum-100.txt"
    },
    "predict": {
        "input_type": "DRMM_PointGenerator",
        "phase": "PREDICT",
        "batch_size": 1,
        "relation_file": "relation_test.txt",
        "hist_feats_file": "relation_test.binsum-100.txt"
    }
  },
  "outputs": {
    "predict": {
      "save_format": "TREC",
      "save_path": "predict_test.anmm_classify.txt"
    }
  },
  "model": {
    "model_path": "models/",
    "model_py": "anmm.ANMM",
    "setting": {
        "num_layers": 2,
        "hidden_sizes": [50, 1],
        "dropout_rate": 0.5
    }
  },
  "losses": [
    {
       "object_name": "categorical_crossentropy",
       "object_params": {}
    }
  ],
  "metrics": [ "accuracy" ]
}

